node_modules
dev
dist
build
*.log
*.tsbuildinfo
.vite
.idea
.DS_Store
*.svelte
*.vue
*.css.map
*.js.map
*.ts.map
*.tsx.map
*.jsx.map
*.d.ts.map
*.env
*.env.local
*.env.*.local
coverage
mock-server.mjs
